/** You need to fill in what you are doing so future self will remember, becuase you are getting old and won't remember. Trust me...... */
body, input, select, textarea {
	font-family: 'Georama', sans-serif;
}

/** You need to fill in what you are doing so future self will remember, becuase you are getting old and won't remember. Trust me...... */
.wrapper.style1 {
    background-color: #1a1a22ef;
}

/** You need to fill in what you are doing so future self will remember, becuase you are getting old and won't remember. Trust me...... */
.wrapper.style3 {
    background-color: #1c1c29f1;
}

/** You need to fill in what you are doing so future self will remember, becuase you are getting old and won't remember. Trust me...... */
.wrapper.style4 {
    background-color: #1c1c2e;
}

/** You need to fill in what you are doing so future self will remember, becuase you are getting old and won't remember. Trust me...... */
#footer {
    background: #30030ef8;
}