<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Mom by day, digital designer by night, caffeinated always.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/icon1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Two Cups Of Chaa</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have been designing and editing images ever since I first discovered Microsoft Paint on my new computer back in the '90s. The designs you see here have been cut into paper or vinyl and have been printed to be used at Indian weddings, baby and bridal showers that I have hosted, given out as gifts by me or used in my children's school for Inclusive Schools Week. I am sharing my handmade art for those who are looking for a unique handmade gift. I decided to share my digital art with the world in the hopes that another creative person can take them and print or cut their own.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/icon2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Two Cups Of Tea, Coffee or Chai is just as sweet</h4>
                                    <h4 class="subheading">Ok but first Chai/Chaa?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This store is named Two Cups Of Chaa. What is chaa you ask? It is what we call a solid cup of tea in my family! I am now a stay at home mom of three and it takes not one but Two Cups Of Chaa in the morning to take on the day. One cup to wake up and one to champion the day.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/icon3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>A cup of tea makes everything better</h4>
                                    <h4 class="subheading">(said every parent ever)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born in Great Britain and have Indian ancestry…we take our tea very seriously!
                                        The British side of me loves a good cuppa. I grew up seeing brown betty teapots in people’s kitchens – often with a tea cozy keeping it piping hot. The Indian side of me didn’t mess with any of that…we had an aluminum pot with a spout. We call this aluminum pot a patila (pron. pa-tea-laa.) A good patila will pour umpteen cups a day with ease. These days it’s two good cups of PG tips tea for me in one of my favorite ceramic mugs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/icon4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Thanks for popping by...</h4>
                                    <h4 class="subheading">...hope you can stay a while</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These days it’s two good cups of PG tips tea for me in one of my favorite ceramic mugs. Thank you for stopping by this store, hope your day is well-caffeinated and great!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h5>
                                    <br>
                                    <br>Owner.Mom.
                                    <br>Artist.Creative.
                                    <br>Exhausted.
                                    <br>Caffeinated.
                                    <br>Human.</h5  >
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>