<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172939745-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172939745-1');
</script>

<!-- Bing Analytics -->
<meta name="msvalidate.01" content="CCC2916049A2B5DC613210DA03B4152A" />

<!-- Pinterest -->
<meta name="p:domain_verify" content="2424d0c910a404240f5cf1c312d409ef"/>
