<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon circle fa-twitter"><span
                    class="label">Twitter</span></a></li>
        <li><a href="https://www.instagram.com/{{ site.facebook_username }}" class="icon circle fa-instagram"><span
                    class="label">Instagram</span></a></li>
        <li><a href="https://github.com/{{ site.pinterest_username }}" class="icon circle fa-pinterest"><span
                    class="label">Pinterest</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Two Cups of Chaa LLC</li>
    </ul>

</footer>