<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Eye catching designs for you to download and print or cut.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Homemade & Handmade</h4>
                    <p class="text-muted">We make custom canvases with delicately cut out designs.These make for great unique gifts</p>
                </div>
                <div class="col-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Printable Designs</h4>
                    <p class="text-muted">We are so excited for these collections. Each bundle contains downloadable files in multiple formats and sizes. The files are easy to edit by you on your home computer. Once you are ready to print you can do so on your home computer or via a professional printing company.</p>
                </div>
                <div class="col-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Custom Editing Services</h4>
                    <p class="text-muted">We offer custom editing services for our digital downloads. If you would like a file to be customized for you, this option can be purchased alongside the listing you would like to edit.</p>
                </div>
            </div>
        </div>
    </section>